// NOTE EDITOR
.noteEditor {
  width: 70vw;
  height: 100vh;
  padding: 2rem;
  background-color: $bg-primary;
  box-sizing: border-box;
  overflow: hidden;

  // EDITOR CLOSE NOTE BUTTON
  &-close {
    @include button-styles;
    @include special-button-styles;
    position: absolute;
    top: 0;
    right: 0;
  }

  // OPENED NOTE TITLE
  &__title {
    font-size: 2rem;
    color: $text-primary;
    @include textarea-styles;
    @include scrollbar-styles($accent-secondary);
  }

  // OPENED NOTE BODY
  &__body {
    font-size: 1.5rem;
    color: $text-secondary;
    // THIS NEEDS TO BE FIXED WHEN CREATING THE 
    // MOBILE VERSION
    height: 70vh;
    @include textarea-styles;
    @include scrollbar-styles($accent-secondary);
  }

  // EDITOR SAVE NOTE BUTTON
  &-save {
    @extend .noteEditor-close;
    top: auto;
    bottom: 0;
  }
}