.noteEditor {
  @include textarea-styles;
  width: 70vw;
  height: 100vh;
  padding: 2rem;
  background-color: $bg-primary;
  box-sizing: border-box;
  overflow: hidden;

  &-close {
    @include button-styles;
    @include special-button-styles;
    position: absolute;
    top: 0;
    right: 0;
  }

  .note__title {
    font-size: 2rem;
    color: $text-primary;
  }

  .note__body {
    font-size: 1.5rem;
    color: $text-secondary;
    // THIS NEEDS TO BE FIXED WHEN CREATING THE 
    // MOBILE VERSION
    height: 70%;
  }

  &-save {
    @extend .noteEditor-close;
    top: auto;
    bottom: 0;
  }
}