.noteEditor {
  display: none;
  width: 70vw;
  height: 100vh;
  background-color: $bg-primary;
  overflow: hidden;
  @include inner-padding(2rem);

  &-close {
    @include button-styles;
    @include special-button-styles;
    // POSITION
    position: absolute;
    top: 0;
    right: 0;
  }

  &__title {
    font-size: 2rem;
    color: $text-primary;
    @include textarea-styles;
    @include scrollbar-styles($accent-secondary);
  }

  &__body {
    font-size: 1.5rem;
    color: $text-secondary;
    // THIS NEEDS TO BE FIXED WHEN CREATING THE 
    // MOBILE VERSION
    height: 70vh;
    @include textarea-styles;
    @include scrollbar-styles($accent-secondary);
  }

  &-save {
    @extend .noteEditor-close;
    // POSITION
    top: auto;
    bottom: 0;
  }
}