.noteEditor {
  width: 100%;
  height: 100vh;
  background-color: $bg-primary;
  overflow: hidden;
  @include inner-padding(2rem);
  // POSITION
  position: relative;

  .button {
    @include special-button-styles;
    // POSITION
    position: absolute;
    top: 0;
    right: 0;

    &:last-child {
      // POSITION
      top: auto;
      bottom: 0;
    }
  }

  &__title {
    font-size: 2rem;
    color: $text-primary;
    @include textarea-styles;
    @include scrollbar-styles($accent-secondary);
  }

  &__body {
    height: 80vh;
    font-size: 1.5rem;
    color: $text-secondary;
    @include textarea-styles;
    @include scrollbar-styles($accent-secondary);
  }
}


// @media only screen and (min-width: 768px) {
//   .noteEditor {
//     grid-area: noteEditor;
//   }
// }