.noteEditor {
  background-color: $bg-primary;
  overflow: hidden;
  // POSITION
  position: relative;
  // GRID
  grid-area: noteEditor;
  display: grid;
  grid-template-areas: 
    'title'
    'body'
  ;
  grid-template-rows: 4rem 1fr;
  @include inner-padding(1rem);

  .button {
    // GRID-AREA
    grid-area: close-note;

    &__icon {
      font-size: 2rem;
    }

    &:last-child {
      // GRID-AREA
      grid-area: save-note;
    }
  }

  &__title {
    grid-area: title;
    font-size: 1.7rem;
    color: $text-primary;
    @include textarea-styles;
    @include scrollbar-styles($accent-secondary);
  }

  &__body {
    grid-area: body;
    height: 80vh;
    font-size: 1.2rem;
    color: $text-secondary;
    @include textarea-styles;
    @include scrollbar-styles($accent-secondary);
  }
}