@import '../../../../assets/variables/_colors.styles.scss';
@import '../../../../assets/mixins/_mixins.styles.scss';

.note {
  @include textarea-styles;
  width: 70vw;
  height: 100vh;
  padding: 2rem;
  background-color: $bg-primary;
  box-sizing: border-box;
  overflow: hidden;

  &__title {
    font-size: 2rem;
    color: $text-primary;
  }

  &__body {
    font-size: 1.5rem;
    color: $text-secondary;
    height: 85%;
  }

  &-save {
    @include button-styles;
    @include special-button-styles;
    position: fixed; 
    bottom: 0; 
    right: 0;
  }
}