/* 
==================================================
                      ASSETS                    
==================================================                                                         
*/

// VARIABLES
@import '../assets/variables/_colors.scss';
// NORMALIZER
@import '../assets/normalize/normalize.scss';
// MIXINS
@import '../assets/mixins/_mixins.scss';
// PARAGRAPHS FONT
@font-face {
  font-family: 'Iosevka Light';
  src: url(../assets/fonts/iosevka/iosevka-light.ttf) format('truetype');
}
// HEADERS FONT
@font-face {
  font-family: 'Iosevka Regular';
  src: url(../assets/fonts/iosevka/iosevka-regular.ttf) format('truetype');
}
// LOGO FONT
@font-face {
  font-family: 'Futura Medium';
  src: url(../assets/fonts/futura/futura-medium-bt.ttf) format('truetype');
}


/* 
==================================================
                    COMPONENTS                     
==================================================
*/

// REUSABLE
@import './Components/reusable-components/header/header.scss';
@import './Components/reusable-components/footer/footer.scss';
// HOME-PAGE
@import './Components/home-components/home.scss';
@import './Components/home-components/banner/banner.scss';
@import './Components/home-components/main/main.scss';
// // LOADING-PAGE
// @import './Components/loading-component/loading.styles.scss';
// LOGIN-PAGE
@import './Components/login-components/login.scss';
// NOT-FOUND-PAGE
@import './Components/not-found-component/notFound.scss';
// APP
@import './Components/app-components/app.scss';
@import './Components/app-components/sidebar/sidebar.scss';
@import './Components/app-components/notesCollection/notesCollection.scss';
@import './Components/app-components/notesCollection/note/note.scss';
@import './Components/app-components/noteEditor/noteEditor.styles.scss';

/* 
==================================================
                     DEFAULT                          
==================================================                                                         
*/

// ROOT FONT-SIZE
:root {
  font-size: 16px;
}

// BODY DEFAULT
body {
  background: $bg-primary;
  font-family: Iosevka Light;
  &::-webkit-scrollbar {
    display: none;
  }
}

// HEADER DEFAULT
h1, h2, h3 {
  font-family: Iosevka Regular;
}
