// REUSABLE COMPONENTS STYLES
@import './Components/home-components/_home.styles.scss';
@import './Components/reusable-components/footer/_footer.styles.scss';
// HOME-PAGE STYLES
@import './Components/reusable-components/header/_header.styles.scss';
// LOADING-PAGE STYLES
@import './Components/loading-component/_loading.styles.scss';
// LOGIN-PAGE STYLES
@import './Components/login-components/_login.styles.scss';
// NOT-FOUND-PAGE STYLES
@import './Components/not-found-component/_notFound.styles.scss';
// APP STYLES
@import './Components/app-components/_app.styles.scss';
@import './Components/app-components/sidebar/_sidebar.styles.scss';
@import './Components/app-components/noteEditor/_noteEditor.styles.scss';
@import './Components/app-components/notes/_notes.styles.scss';
// VARIABLE STYLES
@import '../assets/variables/_colors.styles.scss';


// DEFAULT STYLES
:root {
  font-size: 16px;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url(../assets/fonts/gill-sans-mt/GIL_____.TTF) format('truetype');
}

@font-face {
  font-family: 'Iosevka Light';
  src: url(../assets/fonts/iosevka/iosevka-light.ttf) format('truetype');
}

@font-face {
  font-family: 'Iosevka Regular';
  src: url(../assets/fonts/iosevka/iosevka-regular.ttf) format('truetype');
}


body {
  padding: 0;
  background-color: $bg-proto;
  // font-family: Gill Sans MT;
  font-family: Iosevka Regular;
  //@include scrollbar-styles($text-primary);
  &::-webkit-scrollbar {
    display: none;
  }
}

p, li {
  font-family: Iosevka Light;
}
