// REUSABLE COMPONENTS STYLES
@import './Components/reusable-components/header/header.styles.scss';
@import './Components/reusable-components/footer/footer.styles.scss';
// HOME-PAGE STYLES
@import './Components/home-components/home.styles.scss';
@import './Components/home-components/main/main.styles.scss';
// LOADING-PAGE STYLES
@import './Components/loading-component/loading.styles.scss';
// LOGIN-PAGE STYLES
@import './Components/login-components/login.styles.scss';
// NOT-FOUND-PAGE STYLES
@import './Components/not-found-component/notFound.styles.scss';
// APP STYLES
@import './Components/app-components/app.styles.scss';
@import './Components/app-components/sidebar/sidebar.styles.scss';
@import './Components/app-components/noteEditor/noteEditor.styles.scss';
@import './Components/app-components/notes/notes.styles.scss';
// VARIABLE STYLES
@import '../assets/variables/colors.styles.scss';


// DEFAULT STYLES
:root {
  font-size: 16px;
}

@font-face {
  font-family: 'Gill Sans MT';
  src: url(../assets/fonts/gill-sans-mt/GIL_____.TTF) format('truetype');
}

@font-face {
  font-family: 'Iosevka Light';
  src: url(../assets/fonts/iosevka/iosevka-light.ttf) format('truetype');
}

@font-face {
  font-family: 'Iosevka Regular';
  src: url(../assets/fonts/iosevka/iosevka-regular.ttf) format('truetype');
}


body {
  padding: 0;
  background-color: $bg-proto;
  // font-family: Gill Sans MT;
  font-family: Iosevka Regular;
  //@include scrollbar-styles($text-primary);
  &::-webkit-scrollbar {
    display: none;
  }
}

p, li {
  font-family: Iosevka Light;
}
