@import '../../../../assets/variables/_colors.styles.scss';
@import '../../../../assets/mixins/_mixins.styles.scss';

.notes {
  width: 30vw;
  height: 100vh;
  padding: 0;
  overflow: auto;
  background: $bg-primary;
  border-right: 1px solid $bg-quaternary;

  &::-webkit-scrollbar {
    width: 0.35rem;
  }

  &::-webkit-scrollbar-track {
    background: inherit;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.625rem;
    background: $text-secondary;
  }

  &-prev {
    height: 5rem;
    padding: 1rem;
    color: $text-primary;
    transition: 300ms;
    position: relative;
    
    &__title {
      @include lineClamp(1);
      margin: 0;
    }
    
    &__body {
      @include lineClamp(3);
      color: $text-secondary;
    }

    &__button {
      @include button-styles;
      position: absolute;
      right: .05rem;
      bottom: .05rem;
      padding: .3rem;
    }

    &__icon {
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
      background: $bg-quaternary-hv;
    }
  }

  &__line {
    margin: .5rem;
    border-color: $text-secondary;
  }

  &-create {
    @include button-styles;
    @include special-button-styles;
    position: fixed;
    bottom: 0;
    left: 29%;
  }
}
