// LOGIN DIV WRAPPER
.login-wrapper {
  height: 100vh;
  // GRID
  display: grid;
  grid-template-areas: 
    'header'
    'form'
    'footer'
  ;
  grid-template-rows: 5rem 1fr 5rem;

  // FORM WRAPPER
  .login {
    // GRID-AREA
    grid-area: form;
    // STYLES
    width: 100%;
    margin: 4rem auto;
    color: $text-primary;
    // FLEXBOX
    @include flex-center-aligned(column);

    &__head {
      font-size: 1.8rem;
      margin: 0 0 2rem 0;
    }

    .btn-group {
      width: 100%;
      // FLEXBOX
      @include flex-center-aligned(column);


      // BUTTONS
      &-btn {
        @include button-styles;
        @include special-outline;
        height: 2.5rem;
        width: 80%;
        margin: .5rem 0;
        border: 1px solid $text-primary;

        // BUTTON ICON
        &__icon {
          color: $text-primary;
        }

        // BUTTON TEXT
        &__text {
          margin-left: .5rem;
          font-size: 1.1rem;
          color: $text-primary;
        }
      }
      
    }

    // GOOGLE BUTTON
    ._brand-g {
      background: linear-gradient(110deg, 
      #DB4437 25%, 
      #F4B400 25%, 
      #F4B400 50%,
      #0F9D58 50%, 
      #0F9D58 75%,
      #4285F4 75%,
      #4285F4 100%);
    }

    // FACEBOOK BUTTON
    ._brand-t {
      background: #55ACEE;
    }

    // TWITTER BUTTON
    ._brand-f {
      background: #177BF2;
    }

    // APPLE BUTTON
    ._brand-a {
      background: #000;
    }

    // DIVIDER
    .divider {
      width: 80%;
      // margin: 1.5rem 0 2rem 0;
      margin: 4rem 0;
      // CSS POSITION
      position: relative;
      // FLEXBOX
      align-self: center;
      @include flex-center-aligned(column);

      // DIVIDER TEXT
      &__text {
        background: $bg-proto;
        padding: 0 1rem;
      }

      // DIVIDER LINE
      &__line {
        width: 100%;
        display: block;
        border-top: 1px solid $text-primary;
        // CSS POSITION 
        position: absolute;
        top: .55rem;
        z-index: -1;
      }
    }


    /* 
      Input-group is being automatically aligned
      to the left so no need to add @include 
      flex mixin
    */

    // INPUTS
    .input-group {
      width: 100%;
      margin-bottom: 1rem;
      // FLEXBOX
      display: flex;
      flex-direction: column;

      // LABEL & INPUT SHARED STYLES
      &__item {
        width: 80%;
        margin: .5rem auto;
        background: inherit;
      }

      // INPUT
      ._input {
        height: 2.5rem;
        color: inherit;
        font-size: 1.1rem;
        border: 0.063rem solid $text-primary;
        @include inner-padding(0 .5rem);
      }
    }

    // SUBMIT BUTTON
    .login__submit-btn {
      background: $bg-quaternary;
      // FLEXBOX
      align-self: center;
    }
  }
}

@media only screen and (min-width: 768px) {

  .login {
    width: 60% !important; 

    .btn-group-btn__icon {
      color: inherit !important;
    }
  }
}

@media only screen and (min-width: 1080px) {

  .login {
    width: 40% !important; 
  }
}

@media only screen and (min-width: 1440px) {

  .login {
    width: 25% !important; 
  }
}