// REVIEW THIS COMPONENTS STYLES BEFORE IMPLEMENTING IT

.loading {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: black;
  box-sizing: border-box;
  background: #ffffff3d;
  // CSS POSITION
  z-index: 2;  
  position: fixed;
  // FLEXBOX
  @include flex-center-aligned(column-reverse);


  &__text {
    font-size: 1.5rem;
  }

  &__spinner {
    font-size: 4rem;
    animation: rotation 2s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

