.app {
  height: 100vh;
  box-sizing: border-box;
  // CSS POSITION
  position: relative;
  // GRID
  display: grid;
  grid-template-areas:
    'sidebar notesCollection notesEditor'
  ;
  grid-template-columns: 5rem 28rem 1fr;
}