.app {
  height: 100vh;
  // CSS POSITION
  position: relative;
  // GRID
  display: grid;
  grid-template-areas: 
    'navbar app-root'
  ;
  grid-template-columns: 4.5rem 1fr;
}

.app-root {
  grid-area: app-root;
}

// @media only screen and (min-width: 768px) {
//   .app-root {
//     display: grid;
//     grid-template-areas: 
//       'notesCollection noteEditor'
//     ;
//     grid-template-columns: 18rem 1fr;
//   }
// }