.note {
  height: 7rem;
  padding: 1rem;
  font-size: 1.2rem;
  // POSITION
  position: relative;
  // TRANSITION
  transition: 300ms;

  &__title {
    margin: 0;
    color: $text-primary;
    // font-size: 1.5rem;
    @include lineClamp(1);
  }
  
  &__body {
    color: $text-secondary;
    @include lineClamp(3);
  }

  .button {
    bottom: .05rem;
    padding: .3rem;
    // POSITION
    position: absolute;
    right: .05rem;

    &__icon {
      pointer-events: none;
    }
  }

  &:hover {
    cursor: pointer;
    background: $bg-tertiary-hv;
  }
}

.notes__divider {
  margin: .5rem;
  border-color: $accent-secondary;
}