.main-container {
  // GRID-AREA
  grid-area: main;

  /*
    .container Doesn't need to be center-aligned,
    so no need to add @include flex mixin
  */ 

  .container {
    // FLEXBOX
    display: flex;
    flex-direction: column;

    .column {
      padding: 1rem 1rem 0 1rem;
      border-bottom: 1px solid $text-primary;
      margin: 0 1rem 1rem 1rem;

      &__head {
        font-weight: 100;
      }

      &__p {
        color: $text-secondary;
        font-size: 1.3rem;
      }

      &-list {
        color: $text-secondary;
        // Remember to change padding mixin to handle this!
        box-sizing: border-box;
        padding: 0 1.3rem;
        font-size: 1.3rem;
        line-height: 1.7rem;

        &__item {
          margin: .5rem 0;
        }

        &__link {
          text-decoration: underline;
          margin-right: .3rem;
          color: $text-primary;
        }
      }
    }

    ._col-3 {
      border-bottom: none;
    }
  }
}

@media only screen and (min-width: 768px) {

  .container {
    display: grid !important;
    gap: 1rem;
    @include inner-padding(1rem);
    grid-template-areas: 
      'col-1 col-2'
      'col-3 col-3'
    ;

    .column {
      margin: 0 !important;
      border: 0 !important;
    }

    ._col-1 {
      grid-area: col-1;
      border-right: 1px solid $text-primary !important;
    }

    ._col-2 {
      grid-area: col-2;
    }

    ._col-3 {
      border-top: 1px solid $text-primary !important;
      grid-area: col-3;
    }
  }
}

@media only screen and (min-width: 1080px) {

  .main-container {
    @include flex-center-aligned(column);
  }

  .container {
    grid-template-areas: 
    'col-1 col-3 col-2'
    !important;

    ._col-3 {
      border: 0 !important;
    }

    ._col-2 {
      border-left: 1px solid $text-primary !important;
    }
  }
}


@media only screen and (min-width: 1440px) {

  .container {
    width: 80%;
  }

  .column {
    border: none !important;
    background: none !important;
  }
}