.main-container {
  // GRID-AREA
  grid-area: main;

  .container {
    // FLEXBOX
    @include flex(column, normal, normal);

    .column {
      @include inner-padding(1rem);
      margin: 0 1rem;
      border-color: $accent-primary;
      border-style: solid;
      border-width: 0 0 1px 0;


      &__head {
        color: $text-primary;
        font-weight: 100;
      }

      &__p {
        color: $text-secondary;
        font-size: 1.3rem;
      }

      &-list {
        color: $text-secondary;
        @include inner-padding(0 1.3rem);
        font-size: 1.3rem;
        line-height: 1.7rem;

        &__item {
          margin: .5rem 0;
        }

        &__link {
          color: $text-primary;
          text-decoration: underline;
          margin-right: .3rem;
        }
      }
    }

    ._col-3 {
      border-bottom: none;
    }
  }
}

@media only screen and (min-width: 768px) {

  .container {
    display: grid !important;
    gap: 1rem;
    @include inner-padding(1rem);
    grid-template-areas: 
      'col-1 col-2'
      'col-3 col-3'
    ;

    .column {
      margin: 0 !important;
      border-width: 0 0 0 0 !important;
    }

    ._col-1 {
      grid-area: col-1;
      border-width: 0 1px 0 0 !important;
    }

    ._col-2 {
      grid-area: col-2;
    }

    ._col-3 {
      border-width: 1px 0 0 0 !important;
      grid-area: col-3;
    }
  }
}

@media only screen and (min-width: 1080px) {

  .main-container {
    // FLEXBOX
    @include flex-center-aligned(column, center, center);
  }

  .container {
    grid-template-areas: 
    'col-1 col-3 col-2'
    !important;

    ._col-1 {
      border-width: 0 1px 0 0 !important;
    }

    ._col-3 {
      border-width: 0 1px 0 0 !important;
    }
  }
}


@media only screen and (min-width: 1440px) {

  .container {
    width: 80%;
  }
  
}