@import '../../../assets/variables/_colors.styles.scss';

.home {
  box-sizing: border-box;
  color: $text-primary;
}

.banner {
  color: $text-primary;
  text-align: center;
  box-sizing: border-box;
  margin: 3rem 0;

  &__icon {
    font-size: 7rem;
    transform: rotate(330deg);
  }

  &__head {
    font-size: 3rem;
  }

  // &__text {
  //   font-size: 1.5rem;
  // }

}

.main-container {

  .container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .column {
      box-sizing: border-box;
      padding: 1rem;
      background: $bg-tertiary;
      border: 1px solid $text-primary;
      margin: 0 1rem 1rem 1rem;

      &__p {
        color: $text-secondary;
        font-size: 1.3rem;
      }

      &-list {
        color: $text-secondary;
        box-sizing: border-box;
        padding: 0 1.3rem;
        font-size: 1.3rem;
        line-height: 1.7rem;

        &__item {
          margin: .5rem 0;
        }

        &__link {
          text-decoration: underline;
          margin-right: .3rem;
          color: $text-primary;
        }
      }
    }
  }
}