.home {
  color: $text-primary;
  // CSS POSITION
  position: relative;
  // GRID
  display: grid;
  grid-template-areas: 
    'header'
    'banner'
    'main'
    'footer';
  grid-template-rows: 5rem 19.5rem 1fr 5rem;
}

.banner-container {
  // GRID-AREA
  grid-area: banner;
  // STYLES
  box-sizing: border-box;
  color: $text-primary;
  background: $bg-tertiary;
  border-bottom: 1px solid $text-primary;
  // FLEXBOX
  @include flex-center-aligned(column);

  .banner {
    padding: 1rem;
    // FLEXBOX
    @include flex-center-aligned(column);
  
    &__icon {
      font-size: 7rem;
      transform: rotate(330deg);
    }

    &__head {
      margin: 1rem 0 0 0;
      font-size: 2.5rem;
      font-weight: 100;
    }
  }

  .link-group {
    @include flex-center-aligned(row);

    &__link {
      @include button-styles;
      padding: 1rem;
      text-decoration: none;
      color: $text-primary;
      border: 1px solid $text-primary;
      background: $bg-quaternary;

      &:hover {
        background: $bg-quaternary-hv;
      }
    }

    ._left {
      margin-left: 1rem;
    }
  }
}

@media only screen and (min-width: 1080px) {

  .home {
    height: 100vh;
  }

}