.home {
  // CSS POSITION
  position: relative;
  // GRID
  display: grid;
  grid-template-areas: 
    'header'
    'banner'
    'main'
    'footer';
  grid-template-rows: 5rem 19.5rem 1fr 5rem;
}

@media only screen and (min-width: 1080px) {

  .home {
    height: 100vh;
  }

}