// HOME STYLES
@use './scss/home/navbar/_navbar.scss' as *;
@use './scss/home/content/content.styles' as *;

// LOGIN STYLES
@use './scss/login/_login.scss' as *;

// NOT-FOUND STYLES
@use './scss/not-found/not-found' as *;

@use '../Styles/scss/loading/_loading.scss' as *;

// APP STYLES
@use './scss/app/sidebar/_sidebar' as *;
@use './scss/app/notes/_notes.styles.scss' as *;
@use './scss/app/note/_note.styles.scss' as *;

// LIBRARY STYLES
@use './assets/variables/_colors.scss' as *;

// DEFAULT STYLES
:root {
  font-size: 16px;
}

* {
  font-family: Gill Sans;
}

body {
  padding: 0;
  background-color: $bg-primary;
}

.Wrap {
  height: 100vh;
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
}