@mixin special-button-styles {
  padding: 1rem;
  font-size: 2rem;
  
  svg {
    pointer-events: none;
  }
}

@mixin scrollbar-styles ($color) {
  // FOR CHROME
  &::-webkit-scrollbar {
    width: .4rem;

    &-track {
      background: inherit;
    }
    
    &-thumb {
      background: $color;
      border-radius: 1rem;
    }
  }
  // FIREFOX
  scrollbar-color: $accent-secondary $bg-primary;
  scrollbar-width: thin;
}

@mixin textarea-styles {
  width: 100%;
  resize: none;
  border: none;  
  outline: none;
  background: inherit;
  @include inner-padding(1rem);

  &::placeholder {
    color: $text-tertiary;
  }
}

@mixin lineClamp($clampAt) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $clampAt;
  -webkit-box-orient: vertical;
}

@mixin inner-padding ($value) {
  box-sizing: border-box;
  padding: $value;
}

@mixin flex($direction, $x, $y) {
  display: flex;
  flex-direction: $direction;
  align-items: $x;
  justify-content: $y;
}