@import '../variables/_colors.styles.scss';

@font-face {
  font-family: 'Futura Medium';
  src: url(../fonts/futura/futura-medium-bt.ttf);
}

@mixin logo-styles {
  color: $text-primary;
  text-decoration: none;
  font-family: Futura Medium;
  font-size: 2.5rem;
}

@mixin button-styles {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  color: $text-secondary;
  transition: all .4s;

  &:hover {
    cursor: pointer;
    color: $text-primary;
  }

  &:focus {
    color: $text-primary;
  }
}

@mixin special-button-styles {
  padding: 1rem;
  font-size: 2rem;
  
  svg {
    pointer-events: none;
  }
}

@mixin textarea-styles {
  textarea {
    resize: none;
    border: none;  
    outline: none;
    background: inherit;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;

    &::placeholder {
      color: $text-placeholder;
    }

    &::-webkit-scrollbar {
      width: .3rem;
      background: $bg-primary;
    }
  }
}

@mixin lineClamp($clampAt) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $clampAt;
  -webkit-box-orient: vertical;
}