.navbar {
  grid-area: sidebar;

  .navbar-components {
    height: 4rem;
    width: 100%;
    @include flex(row, center, normal);

    .button {
      height: 4rem;
      width: 4rem;

      &__icon {
        font-size: 2rem;
      }

      &:first-child {
        border-radius: 0 1rem 1rem 0;
        background: $bg-secondary;
      }

      &:last-child {
        margin-left: auto;
      }
    }

    .logo {
      font-size: 2rem;
      font-family: 'Futura Medium';
      color: $text-primary;
      margin-left: 1rem;
    }
  }
}