// NOTES COLLECTION
.notes-collection {
  grid-area: notesCollection;
  overflow: auto;
  background: $bg-primary;
  position: relative;

  // SCROLLBAR
  @include scrollbar-styles($accent-secondary);

  ._create {
    @include button-styles;
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    .button__icon {
      font-size: 2.3rem;
    }
  }
}
