// NOTES COLLECTION
.notes-collection {
  width: 30vw;
  height: 100vh;
  padding: 0;
  overflow: auto;
  background: $bg-secondary;
  border-right: 1px solid $accent-primary; 

  // SCROLLBAR
  @include scrollbar-styles($accent-secondary);

  &__button {
    @include button-styles;
    @include special-button-styles;
    position: fixed;
    bottom: 0;
    left: 29%;
  }
}
