.notes-collection {
  overflow: auto;
  background: $bg-primary;
  // POSITION
  position: relative;
  grid-area: content;

  @include scrollbar-styles($accent-secondary);

  .button-wrap {
    // POSITION
    position: fixed;
    right: 0;
    bottom: 0;

    .button {
      @include special-button-styles;
    }

  }
}

@media only screen and (min-width: 768px) {
  .notes-collection {
    grid-area: notesCollection;
    border-right: 1px solid $accent-primary;
  }
}