// BACKGROUND
$bg-primary: #131524;
$bg-secondary: #23354A;
$bg-tertiary: #ffffff11;
$bg-tertiary-hv: #fefefe4d;

// TEXT
$text-primary:  #FEFEFE;
$text-secondary: #8f93a2;
$text-tertiary: #8f93a24d;

// ACCENT
$accent-primary: #FEFEFE;
$accent-secondary: #8f93a2;


/*
  THEME IDEAS

  DARK-MINIMAL
  
  .sidebar{
    background: $bg-proto;
    border-right: 1px solid $text-placeholder;
  }

  .notes {
    background: $bg-proto;
    border-right: 1px solid $text-placeholder;
  }

  DARK-HALOWEEN 
  
  still on the works!

  DEFAULT

  use the homepage color pallete!!!!!
*/ 