@import '../../../../assets/variables/_colors.styles.scss';
@import '../../../../assets/mixins/_mixins.styles.scss';

// HEADER STYLES
.header {
  background-color: $bg-tertiary;
  border-bottom: 1px solid $text-primary;

  // NAVBAR STYLES
  &-nav {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: inherit;

    // NAVBAR LINKS STYLES
    &__link {
      text-decoration: none;
    }

    // LOGIN LINK MODIFIER
    ._left {
      margin: auto 1rem auto auto;
    }

    // LOGOUT BUTTON STYLES
    &__button {
      margin-left: auto;
      margin-right: 1rem;
    }

    // LOGO STYLES
    &__logo {
      @include logo-styles;
    }

    // NAV ITEM STYLES
    &__item {
      color: $text-primary;
      font-size: 1.1rem;
      background-color: $bg-quaternary;
      border: 1px solid $text-primary;
      padding: 1rem;
      transition: 600ms;

      // NAVBAR HOVER STYLES
      &:hover {
        cursor: pointer;
        background: $bg-quaternary-hv;
      }
    }
  }
}
