.banner-container {
  box-sizing: border-box;
  color: $text-primary;
  background: $bg-secondary;
  border-bottom: 1px solid $text-primary;
  // GRID-AREA
  grid-area: banner;
  // FLEXBOX
  @include flex(column, center, center);

  .banner {
    padding: 1rem;
    // FLEXBOX
    @include flex(column, center, center);
  
    &__icon {
      font-size: 7rem;
      transform: rotate(-30deg);
    }

    &__head {
      margin: 1rem 0 0 0;
      font-size: 2.5rem;
      font-weight: 100;
    }
  }

  .link-group {
    @include flex(row, center, center);

    &__link {
      @include button-styles;
      padding: 1rem;
      text-decoration: none;
      color: $text-primary;
      border: 1px solid $text-primary;
      background: $bg-tertiary;

      &:hover {
        background: $bg-tertiary-hv;
      }
    }
    
    ._left {
      margin-left: 1rem;
    }
  }
}