// Background colors

$bg-primary: #1B2633;
$bg-secondary: #1B2C33;
$bg-tertiary: #23354A;
$bg-quaternary: rgb(254, 254, 254, .2);
$bg-quaternary-hv: rgb(254, 254, 254, .3);

// Font colors

$text-primary:  #FEFEFE;
$text-secondary: #8f93a2;
$text-placeholder: rgb(143,147,162, .3);