@import '../../../assets/variables/_colors.styles';

.not-found {
  color: $text-primary;
  background: $bg-tertiary;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: grid;
  text-align: center;
  grid-template-rows: repeat(3, 1fr);

  .not-found-div {
    grid-row: 2 / 3;
    align-self: center;
  }

  &__head {
    font-size: 2.5rem;
  }

  &__text {
    font-size: 1.3rem;
  }
}