.not-found-container {
  color: $text-primary;
  width: 100vw;
  height: 100vh;
  // FLEX-BOX
  @include flex-center-aligned(row);

  .not-found {
    @include padding(3rem);
    // FLEXBOX
    @include flex-center-aligned(column);

    &__head {
      font-size: 2.5rem;
    }

    &__text {
      font-size: 1.3rem;
    }
  }
}