@use '../../../assets/mixins/_mixins.scss' as *;
@use '../../../assets/variables/_colors.scss' as *;

.navbar-button {
  @include button-styles;
  width: 100%;
  height: 5rem;
  background-color: inherit;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $bg-tertiary;
  }
}