@use '../../../assets/variables/_colors.scss' as *;
@use '../../../assets/mixins/_mixins.scss' as *;

.note {
  @include textarea-styles;
  width: 70vw;
  height: 100vh;
  padding: 2rem;
  background-color: #0f111f;
  box-sizing: border-box;



  &__title {
    font-size: 2rem;
    color: $text-primary;
  }

  &__body {
    font-size: 1.5rem;
    color: $text-secondary;
    height: 85%;
  }
  

  &-save {
    @include button-styles;
    @include special-button-styles;
    position: fixed; 
    bottom: 0; 
    right: 0;
  }
}