// FOOTER 
.footer {
  grid-area: footer;
  background: inherit;
  border-top: 1px solid $text-primary;
  // FLEXBOX 
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font-size: 1.2rem;
    color: $text-primary;
  }
}