@import '../../../../assets/variables/_colors.styles.scss';
@import '../../../../assets/mixins/_mixins.styles.scss';

/*
=========================
      MOBILE STYLES
=========================
*/ 

// HEADER
.header {
  background-color: $bg-tertiary;
  border-bottom: 1px solid $text-primary;

  // NAVBAR
  .navbar {
    background-color: inherit;
    display: flex;
    align-items: center;
    height: 8.9vh;
    // position: relative;
    

    // NAVBAR BUTTON
    .navbar-btn {
      @include button-styles;
      @include padding(1rem);
      margin-left: auto;

      &__icon {
        font-size: 1.8rem;
      }
    }

    // NAVBAR LINKS
    &__link {
      text-decoration: none;
    }

    // LOGO
    &__logo {
      @include logo-styles;
      @include padding(1rem);
    }
  }

  ._centralize {
    text-align: center;
  }
}

// @media only screen and (min-width: 768px) {
//   .navbar-btn__icon {
//     font-size: 1.8rem !important;
//   }
// }


