// HEADER
.header {
  // GRID-AREA
  grid-area: header;
  // STYLES
  background: inherit;
  border-bottom: 1px solid $accent-primary;


  // NAVBAR
  .navbar {
    height: 5rem;
    background: inherit;
    // FLEXBOX
    @include flex-center-aligned(row);

    .logo {
      box-sizing: border-box;
      // CSS POSITION
      position: relative;

      // NAVBAR LINK
      &__text {
        color: $accent-primary;
        text-decoration: none;
        font-size: 2.5rem;
        font-family: Futura Medium;
        margin-bottom: 1px;
      }

      // LINE
      &__line {
        pointer-events: none;
        width: 9rem;
        border-top: 4px solid $bg-primary;
        // CSS POSITION
        position: absolute;
        top: 1.6rem;
        left: -11rem;
        // CSS TRANSITION
        transition: left 600ms 300ms;
      }

      &__pencil {
        pointer-events: none;
        color: $accent-primary;
        font-size: 2rem;
        // CSS POSITION
        position: absolute;
        top: .5rem;
        left: -2rem;
        transform: rotate(-45deg);
        // CSS TRANSITION
        transition: color 300ms 1200ms, transform 300ms 600ms, top 300ms 900ms, left 600ms 300ms;
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  .navbar {
    
    .logo__pencil {color: $accent-secondary !important};

    &:hover {

      .logo__pencil {
        color: $accent-primary !important;
        transform: none;
        // CSS POSITION
        top: -.2rem;
        left: 8.75rem;
        // CSS TRANSITION
        transition: color 300ms, transform 300ms 300ms, top 300ms, left 600ms 600ms;
      }

      .logo__line {
        // CSS POSITION
        left: -.2em;
        // CSS TRANSITION
        transition: left 600ms 600ms;
      }

    }
  }
}


