.header {
  background: inherit;
  border-bottom: 1px solid $accent-primary;
  // GRID-AREA
  grid-area: header;

  .navbar {
    height: 5rem;
    background: inherit;
    // FLEXBOX
    @include flex(row, center, center);

    .logo {
      box-sizing: border-box;
      // POSITION
      position: relative;

      &__text {
        color: $accent-primary;
        text-decoration: none;
        font-size: 2.5rem;
        font-family: Futura Medium;
        margin-bottom: 1px;
      }

      /*
        This is the line that cuts through the logo
        in the hover animation.
      */

      &__line {
        pointer-events: none;
        width: 9rem;
        border-top: 4px solid $bg-primary;
        // POSITION
        position: absolute;
        top: 1.6rem;
        left: -11rem;
        // TRANSITION
        transition: left 600ms 300ms;
      }

      &__pencil {
        pointer-events: none;
        color: $accent-primary;
        font-size: 2rem;
        // POSITION
        position: absolute;
        top: .5rem;
        left: -2rem;
        transform: rotate(-45deg);
        // TRANSITION
        transition: color 300ms 1200ms, transform 300ms 600ms, top 300ms 900ms, left 600ms 300ms;
      }
    }
  }
}

@media only screen and (min-width: 1080px) {
  .navbar {
    
    .logo__pencil {color: $accent-secondary !important};

    &:hover {

      .logo__pencil {
        color: $accent-primary !important;
        transform: none;
        // POSITION
        top: -.2rem;
        left: 8.75rem;
        // TRANSITION
        transition: color 300ms, transform 300ms 300ms, top 300ms, left 600ms 600ms;
      }

      .logo__line {
        // POSITION
        left: -.2em;
        // TRANSITION
        transition: left 600ms 600ms;
      }

    }
  }
}


