/*
=========================
      MOBILE STYLES
=========================
*/ 

// HEADER
.header {
  // GRID-AREA
  grid-area: header;
  // STYLES
  background: inherit;
  border-bottom: 1px solid $text-primary;


  // NAVBAR
  .navbar {
    height: 5rem;
    background-color: inherit;
    // FLEXBOX
    @include flex-center-aligned(row);
    
    // NAVBAR LINKS
    &__link {
      text-decoration: none;
    }

    // LOGO
    &__logo {
      @include logo-styles;
      @include padding(1rem);
    }
  }
}



