@use '../assets/normalizer/_normalizer.scss' as *;
@use '../assets/variables/_colors.scss' as *;
@use '../scss/navbar/_navbar.scss' as *;
@use '../scss/navbar/navbar-items/_navbar-items.scss' as *;
@use '../scss/navbar/navbar-button/_navbar-button.scss' as *;
@use '../scss/navbar/navbar-item/_navbar-item.scss' as *;
@use '../scss/notes/_notes.styles.scss' as *;
@use '../scss/note/_note.styles.scss' as *;

:root {
  font-size: 16px;
}

* {
  font-family: Iosevka;
  font-weight: 100;
}

body {
  padding: 0;
  background-color: $bg-tertiary;
}

.Wrap {
  height: 100vh;
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
}