@use '../../styles/assets/variables/_colors.scss' as *;

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  transition: .2s;
  background-color: $bg-primary;

  .navbar-icon {
    min-width: 2rem;
    max-width: 2rem;
    margin: .5rem 1.15rem 0 1.15rem;
    transition: 600ms;
  }

  .navbar-text {
    visibility: hidden;
    margin-left: 1.5rem;
  }

  &:hover {
    width: 14rem;

    @keyframes fadein {
      from {
        opacity:0;
      }
      to {
        opacity:1;
      }
    }

    .navbar-text {
      animation: fadein 600ms;
      visibility: visible;
    }
  }
}