.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #1B2633;
}
.navbar .navbar-icon {
  min-width: 2rem;
  max-width: 2rem;
  margin: 0.5rem 1.15rem 0 1.15rem;
  -webkit-transition: 600ms;
  transition: 600ms;
}
.navbar .navbar-text {
  visibility: hidden;
  margin-left: 1.5rem;
}
.navbar:hover {
  width: 14rem;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.navbar:hover .navbar-text {
  -webkit-animation: fadein 600ms;
          animation: fadein 600ms;
  visibility: visible;
}